body
{
  background-color: gray;
}
footer
{
  margin-top: 20px;
}
img
{
}
#indice
{

}
#contenedor
{
  font-family: helvetica;
  font-size: 16px;
}
#encabezado
{
  display: block;
  margin: 0 auto;
}
.itemindice
{
  list-style-type: upper-roman;
}
.enlace
{
  color: red;
}
a[href^='html']
{
  color: red;
}
img[src$='.jpg']
{
  border-radius: 50px;
  border: 1px solid black;
}
*{
  margin: 1vh 1vw;
}
h1 + h2
{
  text-decoration: underline;
}
article> p
{
  text-decoration: underline;
}
ul li
{
  list-style-type: lower-latin;
}
