body
{
  background-color: gray;
}
footer
{
  margin-top: 20px;
}
img
{
}
#indice
{

}
#contenedor
{
  font-family: helvetica;
  font-size: 16px;
}
#encabezado
{
  display: block;
  margin: 0 auto;
}
.itemindice
{
  list-style-type: upper-roman;
}
.enlace
{
  color: red;
}
a[href^='html']
{
  color: red;
}
img[src$='.jpg']
{
  border-radius: 50px;
  border: 1px solid black;
}
*{
  margin: 1vh 1vw;
}
h1 + h2
{
  text-decoration: underline;
}
article> p
{
  text-decoration: underline;
}
ul li
{
  list-style-type: lower-latin;
}
a [href^='http://']:visited{
  color: red;
}
a:hover{
  color: green;
}
h2:first-child{
  text-decoration: underline;
}
input:focus{
  width: 160px;
  height: 140px;
}
p::first-letter{
  text-transform: capitalize;
}
p::first-line{
  font-size: 32px
}
p::selection{
  color: red;
}
#idiomas>ol>li:first-child::after{
  content: ' " - after"'
}
#idiomas>ol>li:last-child::before{
  content: '"before - " '
}
#idiomas>ol>li:nth-child(3)::after{
  content: '"hijo #2"'
}
